<nav class="fixed bottom-0 left-0 right-0 h-16 bg-white border-t border-gray-100 flex justify-around items-center z-[100]">
  <a
    class="flex flex-col items-center gap-[3px] no-underline text-gray-400 text-[0.7rem] flex-1"
    routerLink="/recipes"
    routerLinkActive="!text-brand"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <i class="pi pi-home text-[1.3rem]"></i>
    <span>Inicio</span>
  </a>
  <a
    class="flex flex-col items-center gap-[3px] no-underline text-gray-400 text-[0.7rem] flex-1"
    routerLink="/categories"
    routerLinkActive="!text-brand"
  >
    <i class="pi pi-tag text-[1.3rem]"></i>
    <span>Categorías</span>
  </a>
</nav>
