<article class="recipe-card">
  <a class="recipe-card__link" [routerLink]="['/recipes', recipe().id]">
    <div class="recipe-card__image-wrapper">
      <img class="recipe-card__image" [src]="imageUrl()" [alt]="recipe().title" />
    </div>
    <div class="recipe-card__body">
      <h3 class="recipe-card__title">{{ recipe().title }}</h3>
      <p class="recipe-card__meta">
        @if (recipe().servings === 1) {
          {{ 'recipes.list.metaSingular' | translate: { time: recipe().prepTime + recipe().cookTime } }}
        } @else {
          {{ 'recipes.list.meta' | translate: { time: recipe().prepTime + recipe().cookTime, servings: recipe().servings } }}
        }
      </p>
    </div>
  </a>
</article>
